body {
    font-family: Cambria, Georgia;
    background: green;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 22px;
}

h2 {
    text-align: center;
    color: white;
    margin: 5px;
}

h3 {
    color: white;
    text-align: center;
    margin: 0px;
}

.header-container, .main-container {
    width: 700px;
    margin: 0 auto;
}

.main-container {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

.card {
    background: white;
    border: 1px solid black;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    height: 200px;
    display: inline-flex;    
    font-weight: bold;
    margin: 10px -25px;
}

#iaSide, #playerSide {
    text-align: center;
}


.token {
    border-radius: 50px;
    color: white; 
    font-weight: bold;
    opacity: 0.8;
}

.token:hover:not(#reset) {
    color: white;
    opacity: 1;
}

#buttonsList > div, #bet {
    text-align: center; 
    margin: 10px !important;
}

#bet {
    color: white;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

#myModal {
    top: 33%;
    outline: none;
}

@keyframes tokens_zoomout {
    0% {transform: scale(1.0);}
    100% {transform: scale(0.0);}
} 

.tokens_fadeout {
    animation-duration: 0.2s;
    animation-name: tokens_zoomout;
    animation-fill-mode: forwards;
}

@keyframes tokens_zoomin {
    0% {transform: scale(0.0);}
    100% {transform: scale(1.0);}
} 

.tokens_fadein {
    animation-duration: 0.2s;
    animation-name: tokens_zoomin;
    animation-fill-mode: forwards;
}