<div class="header-container">
    <header>
        <h1>Blackjack ♥♦♣♠ <span style="font-size: 18px;">{{ cards.length }} Cards left</span></h1>
        
    </header>
</div>

<div class="main-container">
    <div id="iaSide">
        <div class="card" *ngFor='let one of iaCards; last as isLast' 
        [style.background]="(isLast && play) ? 'rgb(160,0,0)' : 'white'"
        [style.color]="(isLast && play) ? 'rgb(160,0,0)' : 'black'">
            <span>{{one.label}} {{one.color}}</span>
        </div>
    </div>

    <h2 [style.color]="iaScore === 21 ? 'blue' : (iaScore < 21 ? 'white' : 'red')">{{ iaScore }}</h2>
    <h2 [style.color]="playerScore === 21 ? 'blue' : (playerScore < 21 ? 'white' : 'red')">{{ playerScore }}</h2>

    <div id="playerSide">
        <card [card]="playerCards"></card>
    </div>
    <div id="buttonsList">
        <button *ngIf="playerScore < 21" class="btn btn-md btn-primary" (click)="addCard()">Hit</button>
        <button *ngIf="playerScore < 21" class="btn btn-md btn-warning" (click)="stand()">Stand</button>
        <button *ngIf="playerScore >= 21" class="btn btn-md btn-info" (click)="deal()">Restart</button>
    </div>
</div>