#iaSide, #playerSide {
    text-align: center;
}

.card {
    background: white;
    border: 1px solid black;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    height: 200px;
    display: inline-block;
    font-weight: bold;
    margin: 10px;
}

h2 {
    text-align: center;
    color: white;
}